{% comment %}
  Renders a product card within a product list. Usually within a collection template or the Product list section

  Accepts:
  - product: {object} The product object - https://shopify.dev/docs/api/liquid/objects/product

  Usage:
  {% render 'product-card' product: product  %}
{% endcomment %}

<div class="product-cart-wrap hover-up customCard{% unless product.available %} soldout{% endunless %}">
  <div class="product-img-action-wrap">
    <div class="product-img ">
      <a href="{{ product.url | within: collection }}" tabindex="0">
        <img class="default-img" src="{{ product.featured_image | image_url: width: 260 }}" alt="{{ product.title | escape }}" width="260" height="260" style="height: auto" />
        {% comment %}
        <img class="default-img" src="{{ product.featured_image | image_url: width: 260 }}" alt="{{ product.title | escape }}" />
        {% if product.images.size > 1 %}
          <img class="hover-img" src="{{ product.images[1] | image_url: width: 260 }}" alt="{{ product.title | escape }}" />
        {% else %}
          <img class="hover-img" src="{{ product.featured_image | image_url: width: 260 }}" alt="{{ product.title | escape }}" />
        {% endif %}
        {% endcomment %}
      </a>
    </div>
    <div class="product-badges product-badges-position product-badges-mrg">
      {% if product.available == false %}
        <span class="product-sold-out-badge badge">{% comment %} {{ 'product.sold_out' | t }} {% endcomment %} Agotado</span>
      {% elsif product.compare_at_price > product.price %}
        <span class="product-sale-badge badge">
          {% if product.compare_at_price > 0 %}
            {% assign discount = product.compare_at_price | minus: product.price %}
            {% assign discount_percent = discount | times: 100 | divided_by: product.compare_at_price | round %}
            -{{ discount_percent }}%
          {% endif %}
        </span>
      {% else %}
        {% comment %} <span class="new">New</span> {% endcomment %}
      {% endif %}
    </div>

    <div class="customCard--vendorList">
      <a href="{{ routes.collections_url }}/vendors?q={{ product.vendor | url_encode }}">
        {{ product.vendor }}
      </a>
    </div>

  </div>
  <div class="product-content-wrap pt-25 ">
    <div class="customCard--collectionsList">
      {% assign exclude_list = "Ofertas,Booster Box,Build and battle,Premium Collection,Special Collection,Blister,Booster bundle,Tin,Elite trainer box,Sleeved Booster,expansion,Producto Sellado,carta suelta,accesorios,Scarlet and Violet expansion" | split: "," %}
      {% assign shown_count = 0 %}
      {% for collection in product.collections %}
        {% assign title = collection.title %}
        {% unless title == "Pokémon" or title == "Pokemon" or exclude_list contains title %}
          {% if shown_count < 2 %}
            {% if shown_count > 0 %}<span style="opacity: 0.5">&nbsp;-&nbsp;</span>{% endif %}
            <a href="{{ collection.url }}">{{ title }}</a>
            {% assign shown_count = shown_count | plus: 1 %}
          {% endif %}
        {% endunless %}
      {% endfor %}
    </div>   
    <a href="{{ product.url | within: collection }}" tabindex="0" class="font-xl d-block titleProd">
      {{ product.title | truncate: 33 }}
    </a> 
    <div class="rating-result d-none" title="90%">
      {% render 'product-rating-badge', product: product %}
    </div>

    <div class="footCard row aling-items-center">
      <div class="col-6 d-flex">
        <div class="product-price">
          {% render 'product-card-price', product: product %}
        </div>
      </div>
      <div class="col-6 d-flex align-items-center justify-content-end">
        {% if product.variants.size > 1 %}
          <a href="{{ product.url | within: collection }}" class="btn btn-atc btn-sm btn-primary" >
            Elegir
          </a>
        {% else %}
          {% render 'product-card-form', product: product %}
        {% endif %}
      </div>
    </div>
  </div>
</div>

  
    
  