{% liquid 
  assign pt = block.settings.pt | prepend: 'pt-'
  assign pb = block.settings.pb | prepend: 'pb-'
  assign current_variant = product.selected_or_first_available_variant
%}
<span 
  class="product-sold-out-badge stock-status out-stock mb-2"
  {% if current_variant.available %}hidden{% endif %}>
  {% comment %} {{ 'product.sold_out' | t }} {% endcomment %} Agotado
</span>   
<h1 class="title-detail {{ block.settings.title_font_size }} {{ pt }} {{ pb }} text-brand" {{ block.shopify_attributes }}>
  {{ product.title }}
</h1>