{% comment %}
  Renders a product card within a product list. Usually within a collection template or the Product list section

  Accepts:
  - product: {object} The product object - https://shopify.dev/docs/api/liquid/objects/product

  Usage:
  {% render 'product-card' product: product  %}
{% endcomment %}

<div class="product-cart-wrap hover-up customCard">
  <div class="product-img-action-wrap">
    <div class="product-img ">
      <a href="{{ product.url | within: collection }}" tabindex="0">
        <img class="default-img" src="{{ product.featured_image | image_url: width: 260 }}" alt="{{ product.title | escape }}" width="{{ product.featured_image.width }}" height="{{ product.featured_image.height }}" />
        {% comment %}
        <img class="default-img" src="{{ product.featured_image | image_url: width: 260 }}" alt="{{ product.title | escape }}" />
        {% if product.images.size > 1 %}
          <img class="hover-img" src="{{ product.images[1] | image_url: width: 260 }}" alt="{{ product.title | escape }}" />
        {% else %}
          <img class="hover-img" src="{{ product.featured_image | image_url: width: 260 }}" alt="{{ product.title | escape }}" />
        {% endif %}
        {% endcomment %}
      </a>
    </div>
    <div class="product-badges product-badges-position product-badges-mrg">
      {% if product.available == false %}
        <span class="product-sold-out-badge badge">{{ 'product.sold_out' | t }}</span>
      {% elsif product.compare_at_price > product.price %}
        <span class="product-sale-badge badge">
          {% if product.compare_at_price > 0 %}
            {% assign discount = product.compare_at_price | minus: product.price %}
            {% assign discount_percent = discount | times: 100 | divided_by: product.compare_at_price | round %}
            -{{ discount_percent }}%
          {% endif %}
        </span>
      {% else %}
        {% comment %} <span class="new">New</span> {% endcomment %}
      {% endif %}
    </div>
  </div>
  <a href="{{ product.url | within: collection }}" tabindex="0" class="product-content-wrap pt-25 text-center">
    <span class="font-xl text-center d-block fw-bold">
      {{ product.title }}
    </span>
    <div class="rating-result d-none" title="90%">
      {% render 'product-rating-badge', product: product %}
    </div>
    <div class="product-price">
      {% render 'product-card-price', product: product %}
    </div>
  </a>
</div>

  {% comment %} {% if settings.product_card_show_atc_form %}
    {% render 'product-card-form', product: product %}
  {% endif %} {% endcomment %}