{% comment %}
  Renders the price paragraph for the product card, but it may be used on other parts when
  there is a product list

  Accepts:
  - product: {object} The product object

  Usage:
  {% render 'product-card-price' product: product  %}
{% endcomment %}

{%- assign raw_price = product.price | money_without_currency -%}
{%- assign currency_code = shop.currency | downcase -%} 

<p class="product-card-price product-price">
  {%- if product.compare_at_price > product.price -%}
    <span class="product-card-price-final product-price-final-sale">
      <span class="visually-hidden">{{ 'product.sale_price' | t }}</span>

      <s class="product-card-price-compare">
        <span class="visually-hidden">{{ 'product.regular_price' | t }}</span>
        {%- assign raw_compare = product.compare_at_price | money_without_currency -%}
        <small>
          <span class="price-value">
            $ {{ raw_compare }}
            <span class="currency-symbol">{{ currency_code | upcase }}</span>
          </span>
          
        </small>
      </s>      
      <span class="price-value">
        $ {{ raw_price }}
        <span class="currency-symbol">{{ currency_code | upcase }}</span>
      </span>
      
    </span>
  {%- else -%}
    <span class="product-card-price-final">
      <span class="price-value">
        $ {{ raw_price }}
        <span class="currency-symbol">{{ currency_code | upcase }}</span>
      </span>
      
    </span>
  {%- endif -%}
</p>