<article 
  id="article-main-{{ collection.id }}" 
  class="
    article-main
    {{  section.settings.pt | prepend: 'pt-' }}
    {{  section.settings.pb | prepend: 'pb-' }}
  ">


<div class="single-header style-2">
  <div class="container pt-50 pr-30">
    <div class="row">
      <div class="col-xl-10 col-lg-12 m-auto">
        {% if article.tags.size > 0 %}
          <h6 class="mb-10">
            <a  href="{{ blog.url }}/tagged/{{ article.tags.first | handle }}">
              {{ article.tags.first }}
            </a>
          </h6>
        {% endif %}
        <h1 class="article-title">
          {{ article.title }}
        </h1>                  
        <div class="single-header-meta">
          <div class="entry-meta meta-1 font-xs mt-15 mb-15">
            {% if article.user and article.user.image %}
              <a class="author-avatar">
                <img src="{{ article.user.image | image_url: '100x100' }}" alt="{{ article.author }}" class="img-circle" width="100" height="100">
              </a>
            {% endif %}
            <span class="post-by">
              Escrito por: 
              {{ article.author }}
            </span>
            <span class="post-on has-dot">
              {{ article.created_at | time_tag: '%b %d, %Y' }}
            </span>
            {% assign words = article.content | strip_html | split: ' ' | size %}
            {% assign read_time = words | divided_by: 200 %}
            {% if words > 0 %}
            <span class="time-reading has-dot">
              Lectura de: {{ read_time | plus: 1 }} minutos
            </span>
            {% endif %}            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  {% if section.settings.img_show and article.image %}
    <div class="single-thumbnail">
      <div class="container">
        <div class="row">
          <div class="col-xl-11 col-lg-12 m-auto">
            {% render 'image-url', img: article.image, size: 1600, orientation: section.settings.img_orientation, class: section.settings.img_border %}            
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  <div class="single-content">
    <div class="container"  >
      <div class="row">
        <div class="col-xl-8 col-lg-8 m-auto">
          {{ article.content }}
          <div class="entry-bottom mt-50 mb-30 d-flex justify-content-start align-items-center">
            <span>
              Categorías: &nbsp;&nbsp;
            </span>
            {% assign sorted_tags = blog.all_tags | sort_natural: 'last' | reverse %}
            {% for tag in sorted_tags limit: 5 %}
              <a href="{{ blog.url }}/tagged/{{ tag | handle }}" class="hover-up btn btn-sm btn-rounded mr-10">
                <i class="fi-rs-cross mr-10 d-none"></i>
                #{{ tag }}
              </a>
            {% endfor %}
          </div>
        </div>      
      </div> 
    </div>
  </div>



</article>

{% schema %}
{
  "name": "Article main",
  "settings": [
    {
      "type": "header",
      "content": "Image"
    },
    {
      "type": "checkbox",
      "id": "img_show",
      "label": "Show article image",
      "default": true
    },
    {
      "type": "select",
      "id": "img_orientation",
      "label": "Image orientation",
      "default": "adapt",
      "options": [
        { "group": "Adapt", "value": "adapt", "label": "Adapt" },
        { "group": "Square", "value": "ratio-1x1", "label": "1x1" },
        { "group": "Horizontal", "value": "ratio-4x3", "label": "4x3" },
        { "group": "Horizontal", "value": "ratio-16x9", "label": "16x9" },
        { "group": "Horizontal", "value": "ratio-21x9", "label": "21x9" }
      ]
    },
    {
      "type": "select",
      "id": "img_border",
      "label": "Image border",
      "default": "img-thumbnail",
      "options": [
        { "value": "", "label": "None" },
        { "value": "rounded", "label": "Rounded" },
        { "value": "img-thumbnail", "label": "Thumbnail" }
      ]
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "max_width",
      "label": "Content max-width (px)",
      "default": "720"
    },
    {
      "type": "select",
      "id": "title_font_size",
      "label": "Title font-size",
      "default": "h1",
      "options": [
        { "value": "h1", "label": "H1" },
        { "value": "h2", "label": "H2" },
        { "value": "h3", "label": "H3" },
        { "value": "h4", "label": "H4" },
        { "value": "h5", "label": "H5" },
        { "value": "h6", "label": "H6" }
      ]
    },
    {
      "type": "checkbox",
      "id": "article_meta",
      "label": "Show article meta",
      "info": "Author and date",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_tags",
      "label": "Show tags",
      "default": true
    },
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "pt",
      "label": "Top",
      "min": 0,
      "max": 20,
      "step": 1,
      "default": 10
    },
    {
      "type": "range",
      "id": "pb",
      "label": "Bottom",
      "min": 0,
      "max": 20,
      "step": 1,
      "default": 10
    }
  ],
  "presets": [
    {
      "name": "Article main"
    }
  ]
}
{% endschema %}