{% style %}
  .newsletter .newsletter-inner{
    background-image: url('https://placehold.co/1920x575');
    background-position: center;
    background-size: cover;
  }
{% endstyle %}
<footer class="main">
  
  <section class="newsletter mb-15">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <div class="position-relative newsletter-inner">
                      <div class="newsletter-content">
                          <h2 class="mb-20">
                              Stay home &amp; get your daily <br>
                              needs from our shop
                          </h2>
                          <p class="mb-45">Start You'r Daily Shopping with <span class="text-brand">Nest Mart</span></p>
                          <form class="form-subcriber d-flex">
                              <input type="email" placeholder="Your emaill address">
                              <button class="btn" type="submit">Subscribe</button>
                          </form>
                      </div>
                      <img 
                        src="https://placehold.co/635x345"
                        alt="newsletter"
                        width="635"
                        height="345"
                      >
                  </div>
              </div>
          </div>
      </div>
  </section>
        <section class="featured section-padding d-none d-md-block d-lg-block d-xl-block">
            <div class="container">
                <div class="row">
                    <div class="col-lg-1-5 col-md-4 col-12 col-sm-6 mb-md-4 mb-xl-0">
                        <div class="banner-left-icon d-flex align-items-center wow fadeIn animated">
                            <div class="banner-icon">
                                <img src="https://placehold.co/60" alt="Alt" width="60" height="60" />
                            </div>
                            <div class="banner-text">
                                <h3 class="icon-box-title">Best prices </h3>
                                <p>Orders $50 or more</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1-5 col-md-4 col-12 col-sm-6">
                        <div class="banner-left-icon d-flex align-items-center wow fadeIn animated">
                            <div class="banner-icon">
                                <img src="https://placehold.co/60" alt="Alt" width="60" height="60" />
                            </div>
                            <div class="banner-text">
                                <h3 class="icon-box-title">Free delivery</h3>
                                <p>24/7 amazing services</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1-5 col-md-4 col-12 col-sm-6">
                        <div class="banner-left-icon d-flex align-items-center wow fadeIn animated">
                            <div class="banner-icon">
                                <img src="https://placehold.co/60" alt="Alt" width="60" height="60" />
                            </div>
                            <div class="banner-text">
                                <h3 class="icon-box-title">Great daily deal</h3>
                                <p>When you sign up</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1-5 col-md-4 col-12 col-sm-6">
                        <div class="banner-left-icon d-flex align-items-center wow fadeIn animated">
                            <div class="banner-icon">
                                <img src="https://placehold.co/60" alt="Alt" width="60" height="60" />
                            </div>
                            <div class="banner-text">
                                <h3 class="icon-box-title">Wide assortment</h3>
                                <p>Mega Discounts</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1-5 col-md-4 col-12 col-sm-6">
                        <div class="banner-left-icon d-flex align-items-center wow fadeIn animated">
                            <div class="banner-icon">
                                <img src="https://placehold.co/60" alt="Alt" width="60" height="60" />
                            </div>
                            <div class="banner-text">
                                <h3 class="icon-box-title">Easy returns</h3>
                                <p>Within 30 days</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1-5 col-md-4 col-12 col-sm-6 d-xl-none">
                        <div class="banner-left-icon d-flex align-items-center wow fadeIn animated">
                            <div class="banner-icon">
                                <img src="https://placehold.co/60" alt="Alt" width="60" height="60" />
                            </div>
                            <div class="banner-text">
                                <h3 class="icon-box-title">Safe delivery</h3>
                                <p>Within 30 days</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <section class="section-padding footer-mid">
        <div class="container pt-15 pb-20">
            <div class="row">
                <div class="col-12 col-lg-3">
                    <div class="widget-about font-md mb-md-3 mb-lg-3 mb-xl-0">
                        <div class="logo pt-4">
                            <a 
                            class="mb-15" 
                            href="{{ routes.root_url }}">
                            <img src="https://cdn.shopify.com/s/files/1/0763/2545/4045/files/Recurso_4222.png?v=1750710221" alt="logo" width="200" height="45" style="width: auto; height: auto; max-width: 200px" />
                            </a>
                            {% comment %} <p class="font-lg text-heading">Awesome grocery store website template</p> {% endcomment %}
                        </div>
                    </div>
                </div>
                {% for block in section.blocks %}
                <div class="footer-link-widget col" role="listitem" {{ block.shopify_attributes }}>
                    <h4 class="widget-title {{ block.settings.title_font_size }}">
                    <span>
                        {{ block.settings.title }}
                    </span>
                    </h4>
                    {% render 'footer-block', block: block %}
                </div>
                {% endfor %}
                {% if section.settings.show_payment_icons %}
                    <div class="footer-link-widget col-12 col-lg-2 paymentstxt">
                        <h4 class="widget-title fs-xl" style="white-space: nowrap;">
                          Payment Methods
                        </h4>
                        <img class="wow fadeIn animated" src="https://cdn.shopify.com/s/files/1/0763/2545/4045/files/payment-method.png?v=1750716789" alt="Secured Payment Gateways" width="224" height="32" />
                    </div>
                {% endif %}                        
            </div>
        </div>
    </section>
    <div class="container pb-30">
        <div class="row align-items-center justify-content-between">
            <div class="col-12 mb-30">
                <div class="footer-bottom"></div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <p class="font-sm mb-0">
                    &copy; {{ 'now' | date: "%Y" }} {{ shop.name | replace: ' (', '<span hidden>' | replace: ')', '</span>' }}.
                </p>
            </div>
            {% if section.settings.social_icons %}
            <div class="col-xl-4 col-lg-6 col-md-6 text-end d-none d-md-block">
                <div class="mobile-social-icon">
                    <h6>Follow Us</h6>
                    {% render 'social-icons', icon_size: 18, show_title: false %}
                </div>
                <p class="font-sm">Up to 15% discount on your first subscribe</p>
            </div>
            {% endif %}
        </div>
    </div>
</footer>

{% schema %}
{
  "name": "Footer",
  "limit": 1,
  "settings": [
    {
      "type": "header",
      "content": "Styling"
    },
    {
      "type": "select",
      "id": "bg_color",
      "label": "Background color",
      "default": "bg-body",
      "options": [
        { "value": "bg-primary", "label": "Primary" },
        { "value": "bg-secondary", "label": "Secondary" },
        { "value": "bg-body", "label": "Body" },
        { "value": "bg-white", "label": "White" }
      ]
    },
    {
      "type": "range",
      "id": "bg_opacity",
      "label": "Background opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 100,
      "unit": "%"
    },
    {
      "type": "select",
      "id": "bg_gradient",
      "label": "Background gradient",
      "options": [
        { "value": "bg-gradient", "label": "Yes" },
        { "value": "", "label": "No" }
      ],
      "default": ""
    },
    {
      "type": "select",
      "id": "text_color",
      "label": "Text color",
      "default": "text-body",
      "options": [
        { "value": "text-primary", "label": "Primary" },
        { "value": "text-secondary", "label": "Secondary" },
        { "value": "text-body", "label": "Body" },
        { "value": "text-white", "label": "White" }
      ]
    },
    {
      "type": "range",
      "id": "border_top_width",
      "label": "Border top width",
      "default": 0,
      "min": 0,
      "max": 16,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "border_bottom_width",
      "label": "Border bottom width",
      "default": 0,
      "min": 0,
      "max": 16,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "select",
      "id": "border_color",
      "label": "Border color",
      "default": "border-body",
      "options": [
        { "value": "border-primary", "label": "Primary" },
        { "value": "border-secondary", "label": "Secondary" },
        { "value": "border-body", "label": "Body" },
        { "value": "border-white", "label": "White" }
      ]
    },
    {
      "type": "range",
      "id": "border_opacity",
      "label": "Border opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 100,
      "unit": "%"
    },
    {
      "type": "header",
      "content": "General"
    },
    {
      "type": "checkbox",
      "id": "social_icons",
      "label": "Show social icons",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_payment_icons",
      "label": "Show payment icons",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_powered_by",
      "label": "Show powered by",
      "default": true
    },
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "pt",
      "label": "Top",
      "min": 0,
      "max": 20,
      "step": 1,
      "default": 10
    },
    {
      "type": "range",
      "id": "pb",
      "label": "Bottom",
      "min": 0,
      "max": 20,
      "step": 1,
      "default": 10
    }
  ],
  "blocks": [
    {
      "type": "richtext",
      "name": "Richtext",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Block Title"
        },
        {
          "type": "select",
          "id": "title_font_size",
          "label": "Title",
          "options": [
            { "value": "fs-sm", "label": "sm" },
            { "value": "fs-md", "label": "md" },
            { "value": "fs-lg", "label": "lg" },
            { "value": "fs-xl", "label": "xl" },
            { "value": "fs-xxl", "label": "xxl" }
          ],
          "default": "fs-lg",
          "info": "Only on desktop"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description",
          "default": "<p>Some description for this block</p>"
        },
        {
          "type": "header",
          "content": "Buttons"
        },
        {
          "type": "text",
          "id": "btn_primary_text",
          "label": "Primary button text",
          "info": "Leave empty to disable"
        },
        {
          "type": "url",
          "id": "btn_primary_url",
          "label": "Primary button URL"
        },
        {
          "type": "select",
          "id": "btn_primary_color",
          "label": "Primary button color",
          "default": "btn-primary",
          "options": [
            { "group": "Solid", "value": "btn-primary", "label": "Primary" },
            { "group": "Solid", "value": "btn-secondary", "label": "Secondary" },
            { "group": "Solid", "value": "btn-white", "label": "White" },
            { "group": "Light", "value": "btn-light-primary", "label": "Primary" },
            { "group": "Light", "value": "btn-light-secondary", "label": "Secondary" },
            { "group": "Light", "value": "btn-light-white", "label": "White" },
            { "group": "Outline", "value": "btn-outline-primary", "label": "Primary" },
            { "group": "Outline", "value": "btn-outline-secondary", "label": "Secondary" },
            { "group": "Outline", "value": "btn-outline-white", "label": "White" }
          ]
        },
        {
          "type": "text",
          "id": "btn_secondary_text",
          "label": "Secondary button text",
          "info": "Leave empty to disable"
        },
        {
          "type": "url",
          "id": "btn_secondary_url",
          "label": "Secondary button URL"
        },
        {
          "type": "select",
          "id": "btn_secondary_color",
          "label": "Secondary button color",
          "default": "btn-secondary",
          "options": [
            { "group": "Solid", "value": "btn-primary", "label": "Primary" },
            { "group": "Solid", "value": "btn-secondary", "label": "Secondary" },
            { "group": "Solid", "value": "btn-white", "label": "White" },
            { "group": "Light", "value": "btn-light-primary", "label": "Primary" },
            { "group": "Light", "value": "btn-light-secondary", "label": "Secondary" },
            { "group": "Light", "value": "btn-light-white", "label": "White" },
            { "group": "Outline", "value": "btn-outline-primary", "label": "Primary" },
            { "group": "Outline", "value": "btn-outline-secondary", "label": "Secondary" },
            { "group": "Outline", "value": "btn-outline-white", "label": "White" }
          ]
        }
      ]
    },
    {
      "type": "menu",
      "name": "Menu",
      "settings": [
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu"
        },
        {
          "type": "select",
          "id": "title_font_size",
          "label": "Title",
          "options": [
            { "value": "fs-sm", "label": "sm" },
            { "value": "fs-md", "label": "md" },
            { "value": "fs-lg", "label": "lg" },
            { "value": "fs-xl", "label": "xl" },
            { "value": "fs-xxl", "label": "xxl" }
          ],
          "default": "fs-lg",
          "info": "Only on desktop"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Block Title"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Footer"
    }
  ]
}
{% endschema %}